html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #dbcdb4;
	width: 100%;
	height: 100%;
	margin: auto 0%;
}

header {
	display: flex;
	background-color: #cdb4db;
	width: 100%;
	min-height: 12%;
	max-height: 15%;
}

section {
	width: 100%;
}

footer {
	background-color: #cdb4db;
	text-align: right;
	font-size: 80%;
	width: 100%;
	height: 3vh;
	margin: auto 0%;
}

h1 {
	margin: auto 8%;
	font-size: 3rem;
	color: #ffffff;
}



.info-container {
	margin: 0% 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-container-partition {
	margin: 1% 3% 0% 3%;
	text-align: left;
	max-width: 560px;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0% 8%;
}

.gal_photo {
	margin: 1% 1%;
}

.gallery_pic {
	max-width: 320px;
	transition: all 2s;
}

.gallery_pic:hover {
	transform: scale(1.3);
}

.buy-btn {
	display: inline-block;
	min-width: 50%;
	margin: 1% 5% 2% 15%;
	background-color: #cdb4db;
	color: #000000;
	font-weight: bold;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.price_lbl {
	display: inline-block;
	padding-top: 3%;
	margin-left: 10%;
	font-weight: bold;
}


#by-stamp {
	margin-right: 6%;
}